---
const {
  title = 'ovzroslom.ru',
  description = 'Образовательные статьи по интимному здоровью. 18+.',
  url = 'https://ovzroslom.ru',
  image = '/og/og-default.jpg',
  breadcrumbs = []
} = Astro.props;

const ldOrg = {
  '@context': 'https://schema.org',
  '@type': 'Organization',
  name: 'ovzroslom.ru',
  url,
  logo: 'https://ovzroslom.ru/og/logo.png',
  sameAs: []
};

const ldBreadcrumbs = {
  '@context': 'https://schema.org',
  '@type': 'BreadcrumbList',
  itemListElement: breadcrumbs.map((b, i) => ({
    '@type': 'ListItem',
    position: i + 1,
    name: b.name,
    item: 'https://ovzroslom.ru' + b.url
  }))
};
---
<link rel="canonical" href={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={image} />
<meta name="twitter:card" content="summary_large_image" />
<!-- Yandex.Metrika -->
<script type="text/javascript">
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();for (var j=0; j<document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
  k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(103742803, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:false,
      trackHash:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/103742803" style="position:absolute; left:-9999px;" alt=""/></div></noscript>
<!-- /Yandex.Metrika -->
<script type="application/ld+json">{JSON.stringify(ldOrg)}</script>
{breadcrumbs.length ? <script type="application/ld+json">{JSON.stringify(ldBreadcrumbs)}</script> : null}
